
	<!-- Basic HTML stuff (title, head, beginning of body) -->
	{% include 'manager/structure/base_tpl_top.html' %}
	<!-- Navigation -->
	{% include 'manager/structure/navbar.html' %}
	
	
<div class="container">	
	<h1>Edit contact {{ contact.name }} {{ contact.lastname }}</h1>
	{% if error_message %} 
		<div class="alert alert-danger">{{ error_message }}</div>
	{% endif %}
	<form action="" method="post" role="form">
		{% csrf_token %}

		{% for field in form %}
			<div class="form-group">
				{{ field.errors }}
	            {{ field.label_tag }} {{ field }}
			</div>
		{% endfor %}

		<button type="submit" class="btn btn-success">Confirm changes</button>
	
	</form>
	
</div>
	{% include 'manager/structure/base_tpl_bottom.html' %}
