{% include 'manager/structure/base_tpl_top.html' %}
{% load staticfiles %}
<link href="{% static 'manager/bootstrap/css/signin.css' %}" rel="stylesheet">
{% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}
<div class="container">
	<form class="form-signin" action="{% url 'manager:login_handle' %}" method="post">
	{% csrf_token %}
		<h2 class="form-signin-heading">Please sign in</h2>
		<input class="form-control" type="text" name="username" placeholder="Username" required autofocus />
		<input class="form-control" type="password" name="password" placeholder="Password" required/>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>
{% include 'manager/structure/base_tpl_bottom.html' %}