


<div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'manager:index' %}">Company Oy</a>
        </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li><a href="{% url 'manager:show_all' %}">View customers</a></li>
	      <li><a href="{% url 'manager:add_customer_form' %}">Add customer</a></li>
	      <li><a href="{% url 'manager:add_contact_form' %}">Add contact</a></li>
	    </ul>
	    
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="{% url 'manager:logout_handle' %}">Log out</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->

      </div>
    </div>