{% if user.is_authenticated %}
<!-- Basic HTML stuff (title, head, beginning of body) -->
{% include 'hallinta/base_tpl_top.html' %}
<!-- Navigation -->
{% include 'hallinta/navbar.html' %}

<div class="container">

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">All customers</div>

		<!-- List group -->
		
			{% if all_customers %}
			<ul class="list-group">
				{% for customer in all_customers %}
				<li class="list-group-item"><a href="{% url 'hallinta:customerinfo' customer.id %}">{{ customer.name }}</a></li> 
				{% endfor %}
			</ul>
			{% endif %}

	</div>


</div>
{% include 'hallinta/base_tpl_bottom.html' %} {% else %}
<!-- redirect to login page -->
<meta http-equiv="REFRESH" content="0;url={% url 'hallinta:login' %}">
{% endif %}
