{% if user.is_authenticated %}
<!-- Basic HTML stuff (title, head, beginning of body) -->
{% include 'hallinta/base_tpl_top.html' %}
<!-- Navigation -->
{% include 'hallinta/navbar.html' %}
<div class="container">

	<h2 id="customername">{{ customer.name }}</h2>
	<a href="{% url 'hallinta:edit_customer_form' customer.id %}">Edit</a>
	<p></p>
	<a href="{% url 'hallinta:customer_remove' customer.id %}" class="deletecustomer">Remove</a>

	<div class="panel panel-default">
		<div class="panel-heading">Address</div>
		<div class="panel-body">{{ customer.address }}</div>
	</div>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Contacts</div>

		<!-- Table -->
		{% if customer.contact_set.all.count < 1 %}
		<!-- IF no contacts -->
		<p>
			There is no contacts. <a href="{% url 'hallinta:add_contact_form' %}">Add one now</a>
		</p>
		{% else %}
		<table class="table">
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Job description</th>
				<th>Phone number</th>
				<th>E-mail</th>
				<th>Options</th>
			</tr>
			{% for contact in customer.contact_set.all %}

			<tr>
				<td>{{ contact.name }}</td>
				<td>{{ contact.lastname }}</td>
				<td>{{ contact.job }}</td>
				<td>{{ contact.phone }}</td>
				<td>{{ contact.email }}</td>
				<td><a href="{% url 'hallinta:edit_contact_form' customer.id contact.id %}"><span class="glyphicon glyphicon-refresh"></span></a><span>&nbsp&nbsp&nbsp&nbsp</span><a href="{% url 'hallinta:contact_remove' customer.id contact.id %}" class="deletelink"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Extra information</div>
		<div class="panel-body">{{ customer.extrainfo }}</div>
	</div>

</div>

{% load staticfiles %}
<script src="{% static 'hallinta/script.js' %}"></script>
{% include 'hallinta/base_tpl_bottom.html' %} 

{% else %}
<!-- redirect to login page -->
<meta http-equiv="REFRESH" content="0;url={% url 'hallinta:login' %}">
{% endif %}
