{% if user.is_authenticated %}
<!-- Basic HTML stuff (title, head, beginning of body) -->
{% include 'hallinta/base_tpl_top.html' %}
<!-- Navigation -->
{% include 'hallinta/navbar.html' %}

<div class="container">
	<h2>Edit customer {{ customer.name }}</h2>
	{% if error_message %} 
		<div class="alert alert-danger">{{ error_message }}</div>
	{% endif %}
	<form action="{% url 'hallinta:edit_customer_handle' customer.id %}" method="post" role="form">
	{% csrf_token %}
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" value="{{ customer.name }}" id="name" class="form-control"/>	
		</div>
		<div class="form-group">
			<label for="address">Address</label>
			<input type="text" name="address" value="{{ customer.address }}" id="address" class="form-control"/>	
		</div>
		<div class="form-group">
			<label for="extrainfo">More information</label>
			<textarea cols="40" name="extrainfo" rows="10"  id="extrainfo" class="form-control">{{ customer.extrainfo }}</textarea>
		</div>
		<button type="submit" class="btn btn-success">Confirm changes</button>
	</form>


</div>
{% include 'hallinta/base_tpl_bottom.html' %} {% else %}
<!-- redirect to login page -->
<meta http-equiv="REFRESH" content="0;url={% url 'hallinta:login' %}">
{% endif %}
