{% if user.is_authenticated %}
<!-- Basic HTML stuff (title, head, beginning of body) -->
{% include 'hallinta/base_tpl_top.html' %}
<!-- Navigation -->
{% include 'hallinta/navbar.html' %}

<div class="container">
	<h1>Add new contact</h1>
	{% if error_message %}
		<div class="alert alert-danger">{{ error_message }}</div>
	{% endif %}
	<form action="{% url 'hallinta:add_contact_new' %}" method="post" role="form">
		{% csrf_token %} 
		<div class="form-group">
		{% if all_customers %}
			<label for="customer-select">Customer</label>
			<select name="customer" class="form-control" id="customer-select">
				{% for customer in all_customers %}
					<option value="{{ customer.id }}">{{ customer.name }}</option> 
				{% endfor %}
			</select> 
		{% else %}
			<div class="alert alert-warning">No customers found. Try refreshing page</div>
		{% endif %}	
			
		</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input class="form-control" type="text" name="name" id="name" placeholder="First name"/> 
		</div>
		<div class="form-group">
			<label for="lastname">Lastname</label>
			<input class="form-control" type="text" name="lastname" id="lastname" placeholder="Last name"/>
		</div>
		<div class="form-group">
			<label for="job">Job description</label>
			<input class="form-control" type="text" name="job" id="job" placeholder="Job description"/> 
		</div>
		<div class="form-group">
			<label for="phone">Phone</label>
			<input class="form-control" type="text" name="phone" id="phone" placeholder="Phone number" /> 
		</div>
		<div class="form-group">
			<label for="email">E-mail</label>
			<input class="form-control" type="email" name="email" id="email" placeholder="Enter E-mail address"/> 
		</div>

		<button type="submit" class="btn btn-success">Add</button>
	
	</form>
</div>
{% include 'hallinta/base_tpl_bottom.html' %} {% else %}
<!-- redirect to login page -->
<meta http-equiv="REFRESH" content="0;url={% url 'hallinta:login' %}">
{% endif %}
